;pre
innit()
;out
;structure
# Brückenpfeiler
-3,0,0=RED_SANDSTONE
3,0,0=RED_SANDSTONE
-3,1,0=RED_SANDSTONE_WALL
3,1,0=RED_SANDSTONE_WALL
-3,2,0=RED_SANDSTONE_WALL
3,2,0=RED_SANDSTONE_WALL
-3,3,0=RED_SANDSTONE_WALL
3,3,0=RED_SANDSTONE_WALL

# Brückenplatten
-2,3,0=RED_SANDSTONE
-1,3,0=RED_SANDSTONE
0,3,0=RED_SANDSTONE
1,3,0=RED_SANDSTONE
2,3,0=RED_SANDSTONE

# Brückendach
-2,4,0=RED_SANDSTONE_WALL
2,4,0=RED_SANDSTONE_WALL
-1,4,0=RED_SANDSTONE_WALL
1,4,0=RED_SANDSTONE_WALL

# Trümmer
-1,0,-1=RED_SANDSTONE
1,0,1=RED_SANDSTONE
-1,0,1=RED_SANDSTONE
1,0,-1=RED_SANDSTONE

# Brücken-Teile
-2,0,-1=RED_SANDSTONE_SLAB
2,0,1=RED_SANDSTONE_SLAB
-1,0,0=RED_SANDSTONE_SLAB
1,0,0=RED_SANDSTONE_SLAB

# Trümmerreste
-3,0,1=RED_SANDSTONE
3,0,-1=RED_SANDSTONE
0,0,-3=RED_SANDSTONE
0,0,3=RED_SANDSTONE

# "loot"
-1,0,-2=COBBLESTONE
1,0,2=COBBLESTONE

;out
return()
