;pre
innit()
;out
;structure
# Hauptplattform
-2,0,-2=RED_SANDSTONE
-1,0,-2=RED_SANDSTONE
0,0,-2=RED_SANDSTONE
1,0,-2=RED_SANDSTONE
2,0,-2=RED_SANDSTONE
-2,0,-1=RED_SANDSTONE
2,0,-1=RED_SANDSTONE
-2,0,0=RED_SANDSTONE
2,0,0=RED_SANDSTONE
-2,0,1=RED_SANDSTONE
2,0,1=RED_SANDSTONE
-2,0,2=RED_SANDSTONE
-1,0,2=RED_SANDSTONE
0,0,2=RED_SANDSTONE
1,0,2=RED_SANDSTONE
2,0,2=RED_SANDSTONE

# "Säulen"reste
-2,1,-2=RED_SANDSTONE_WALL
2,1,-2=RED_SANDSTONE_WALL
-2,1,2=RED_SANDSTONE_WALL
2,1,2=RED_SANDSTONE_WALL

-2,2,-2=RED_SANDSTONE_WALL
2,2,-2=RED_SANDSTONE_WALL
-2,2,2=RED_SANDSTONE_WALL
2,2,2=RED_SANDSTONE_WALL

# Altar
0,1,0=CHISELED_RED_SANDSTONE
0,2,0=RED_SANDSTONE_SLAB

# Brocken
-1,0,-1=RED_SANDSTONE
1,0,1=RED_SANDSTONE
-1,0,1=RED_SANDSTONE
1,0,-1=RED_SANDSTONE

# Artefakte
-1,1,0=GOLD_BLOCK
1,1,0=GOLD_BLOCK

;out
return()
